@theme {
  --color-neutral-10: #fefefe;
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-150: #ededed;
  --color-neutral-200: #e5e5e5;
  --color-neutral-250: #dcdcdc;
  --color-neutral-300: #d4d4d4;
  --color-neutral-350: #bbbbbb;
  --color-neutral-400: #a3a3a3;
  --color-neutral-450: #8b8b8b;
  --color-neutral-500: #737373;
  --color-neutral-550: #626262;
  --color-neutral-600: #525252;
  --color-neutral-650: #494949;
  --color-neutral-700: #404040;
  --color-neutral-750: #333333;
  --color-neutral-800: #262626;
  --color-neutral-850: #1e1e1e;
  --color-neutral-900: #171717;
  --color-neutral-950: #0a0a0a;
}
