@import "tailwindcss";
@plugin "tailwindcss-motion";

@theme inline {
  --font-sans: var(--font-geist);
  --font-mono: var(--font-geist-mono);

  --ease-snappy: cubic-bezier(0.34, 1.56, 0.64, 1);
}

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@utility ca-* {
  text-shadow:
    --value([length]) 0 0 #ff000050,
    calc(--value([length]) * -1) 0 0 #0000ff50;
  text-shadow:
    --spacing(--value(number)) 0 0 #ff000050,
    calc(--spacing(--value(number)) * -1) 0 0 #0000ff50;
}

@utility ca-drop-shadow-* {
  filter: drop-shadow(--value([length]) 0 0 #ff000050)
    drop-shadow(calc(--value([length]) * -1) 0 0 #0000ff50);
  filter: drop-shadow(--spacing(--value(number)) 0 0 #ff000050)
    drop-shadow(calc(--spacing(--value(number)) * -1) 0 0 #0000ff50);
}

@keyframes shimmer {
  0% {
    background-position: 200% 0%;
  }
  100% {
    background-position: -200% 0%;
  }
}

@utility shimmer {
  background-clip: text !important;
  color: transparent;
  background:
    radial-gradient(
        circle at center,
        var(--shimmer-color, var(--color-text)),
        transparent
      ) -200%
      50% / 200% 100% no-repeat,
    var(--text-color, var(--color-text-secondary));
  animation: shimmer 3s linear infinite;
}

@utility bg-dots {
  --dot-color: var(--dot-bg-color, var(--color-gray-300));
  --dot-size: var(--dot-bg-size, 1px);
  --dot-spacing: var(--dot-bg-spacing, 8px);

  /* Dots grid pattern using CSS variables */
  background-image: radial-gradient(
    circle,
    var(--dot-color) var(--dot-size),
    transparent var(--dot-size)
  );
  background-size: var(--dot-spacing) var(--dot-spacing);
}
