---
import { cn } from "@/lib/utils";

interface Props {
  class?: string;
}

const navItems = [
  { label: "Product", href: "/#product" },
  { label: "Privacy", href: "/#privacy" },
  { label: "Early Access", href: "/#early-access" },
  { label: "FAQ", href: "/#faq" },
];
---

<footer class={cn("pt-32", Astro.props.class)}>
  <div class="mx-auto max-w-6xl px-6 pb-8">
    <div
      class={cn(
        "flex flex-col items-start gap-6",
        "sm:flex-row sm:items-center sm:justify-between",
      )}
    >
      <a
        href="/"
        class={cn(
          "ca-0.5 font-mono text-lg text-neutral-400 uppercase",
          "ease-snappy transition-[text-shadow,color] duration-300",
          "hover:ca-1 hover:text-neutral-200",
          "-ml-2 rounded-md px-2 ring-neutral-500 outline-none focus-visible:text-neutral-200 focus-visible:ring-1",
        )}
      >
        Orbit
      </a>
      <div
        class={cn(
          "flex w-full flex-col gap-4",
          "sm:w-auto sm:flex-row sm:items-center sm:gap-0 sm:space-x-8",
        )}
      >
        {
          navItems.map(({ label, href }) => (
            <a
              href={href}
              class={cn(
                "w-fit text-sm text-neutral-400",
                "ease-snappy transition-colors duration-200",
                "hover:text-neutral-200",
                "-ml-2 rounded-md px-2 py-1 ring-neutral-500 outline-none focus-visible:text-neutral-200 focus-visible:ring-1",
              )}
            >
              {label}
            </a>
          ))
        }
      </div>
    </div>
    <div
      class={cn(
        "flex flex-col gap-4 pt-10 text-xs text-neutral-500",
        "sm:flex-row sm:items-center sm:justify-between sm:gap-0",
      )}
    >
      <a
        href="https://heckmann.app"
        class="ease-snappy -ml-2 w-fit rounded-md px-2 py-1 ring-neutral-500 transition-colors outline-none hover:text-neutral-300 focus-visible:text-neutral-200 focus-visible:ring-1"
        >© Michael Heckmann Software Studio</a
      >
      <div class="flex space-x-4">
        <a
          href="/imprint"
          class="ease-snappy -ml-2 rounded-md px-2 py-1 ring-neutral-500 transition-colors outline-none hover:text-neutral-300 focus-visible:text-neutral-200 focus-visible:ring-1"
          >Imprint</a
        >
        <a
          href="/privacy-policy"
          class="ease-snappy -ml-2 rounded-md px-2 py-1 ring-neutral-500 transition-colors outline-none hover:text-neutral-300 focus-visible:text-neutral-200 focus-visible:ring-1"
          >Privacy Policy</a
        >
      </div>
    </div>
  </div>
</footer>
