---
import "@/styles/index.css";

import { cn } from "@/lib/utils";

import Head from "./head.astro";
import Noise from "./noise.astro";
import TailwindIndicator from "./tailwind-indicator.astro";

interface Props {
  title: string;
  description: string;
  image?: string;
  class?: string;
}
const { title, description, image, class: className } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-neutral-950">
  <head>
    <Head title={title} description={description} image={image} />
    <slot name="head" />
  </head>
  <body
    class={cn(
      "relative min-h-screen overflow-x-hidden bg-neutral-950 text-neutral-400",
      className,
    )}
  >
    <Noise />
    <main>
      <slot />
    </main>
    <TailwindIndicator />
  </body>
</html>
