---
import Footer from "@/components/layout/footer.astro";
import Layout from "@/components/layout/layout.astro";
import Nav from "@/components/layout/nav.astro";
import PrivacyTemplate from "@/templates/legal/privacy.astro";
---

<Layout
  title="Privacy – Orbit"
  description="Privacy policy and data protection information for Orbit."
>
  <div class="relative z-10">
    <Nav />
    <PrivacyTemplate />
  </div>
  <Footer />
</Layout>
