---
import { Image } from "astro:assets";

import { cn } from "@/lib/utils";
import appIconImage from "@/assets/app-icon.png";
import iconBlueprint from "@/assets/icon-blueprint.png";
---

<div
  class={cn(
    "relative mx-auto grid w-full place-items-center",
    "sm:w-auto",
    "lg:w-full",
  )}
>
  <div
    class={cn(
      "absolute top-1/2 left-1/2 aspect-square w-4/6 -translate-1/2 bg-white opacity-5",
      "mask-radial-from-0% mask-radial-to-50%",
      "motion-preset-pulse-lg motion-duration-[10s]",
    )}
  >
  </div>
  <div
    class={cn(
      "relative grid size-52 shrink-0 place-items-center overflow-clip rounded-4xl border border-neutral-800 bg-neutral-950 shadow-2xl",
      "sm:size-40",
      "md:size-52",
      "lg:size-64",
      // "hidden",
    )}
  >
    <div class="absolute inset-0 p-4 opacity-50">
      <Image
        src={iconBlueprint}
        alt="An abstract graphic featuring geometric shapes and grid lines. The design includes a combination of circles and arcs."
        layout="constrained"
        class="size-full grayscale"
      />
    </div>
    <div class="relative top-2 z-10 size-4/5 object-contain">
      <Image
        src={appIconImage}
        alt="An icon representing the 'Orbit' app, featuring a stylized blue and white design."
        layout="constrained"
        class="size-full object-contain"
      />
    </div>
  </div>
</div>
