---
import type { HTMLAttributes } from "astro/types";

import { cn } from "@/lib/utils";

import Spinner from "./spinner.astro";

interface Props extends HTMLAttributes<"button"> {
  text: string;
}

const { class: className, ...props } = Astro.props;
---

<button
  {...props}
  data-is-loading="false"
  class={cn(
    "group relative h-10 cursor-pointer rounded-lg border-[1px] border-neutral-700 bg-neutral-900 px-7 shadow-sm inset-shadow-sm inset-shadow-stone-600/5",
    "text-sm font-medium text-shadow-sm",
    "hover:bg-neutral-800",
    "outline-none focus-visible:border-neutral-100",
    "ease-snappy transition-colors duration-200",
    className,
  )}
>
  <!-- Subtle Gradient -->
  <div
    class="pointer-events-none absolute inset-0 rounded-[calc(var(--radius-md)-1px)] bg-gradient-to-b from-stone-600/7 to-stone-600/5"
  >
  </div>
  <span
    class={cn(
      "inline-block bg-gradient-to-b from-neutral-200 to-neutral-300 bg-clip-text text-transparent",
      "group-data-[is-loading=true]:opacity-0",
    )}
  >
    {Astro.props.text}
  </span>
  <span
    class={cn(
      "absolute top-1/2 left-1/2 -translate-1/2 opacity-0",
      "group-data-[is-loading=true]:opacity-100",
    )}
  >
    <Spinner
      strokeWidth={80}
      class="size-5 fill-transparent stroke-neutral-300"
    />
  </span>
</button>
