---
import { cn } from "@/lib/utils";

import Button from "./button.astro";
import Input from "./input.astro";
import Modal from "./modal.astro";
import Spinner from "./spinner.astro";

interface Props {
  class?: string;
}

const randomId = Math.random().toString(36).slice(2, 11);
---

<form
  class={cn(
    "waitlist-form",
    "flex items-start gap-4",
    "max-sm:flex-col",
    Astro.props.class,
  )}
  method="post"
  action="/api/waitlist"
>
  <Input
    name="email"
    type="email"
    placeholder="you@email.com"
    data-1p-ignore
    required
    class="max-sm:w-full max-sm:min-w-0"
  />
  <div class="relative flex flex-col items-center max-sm:w-full">
    <Button
      type="submit"
      data-is-loading="false"
      class={cn("min-w-40 whitespace-nowrap", "max-sm:w-full")}
    >
      <span class="group-data-[is-loading=true]:hidden"
        >Request early access</span
      >
      <div
        class={cn(
          "hidden items-center space-x-2.5",
          "group-data-[is-loading=true]:flex",
        )}
      >
        <span>
          <Spinner
            strokeWidth={80}
            class="size-4 fill-transparent stroke-neutral-500"
          />
        </span>
        <span>Joining...</span>
      </div>
    </Button>
    <div
      class={cn(
        "flex w-44 flex-col items-center justify-center pt-2",
        "max-sm:w-full",
        "text-center text-sm text-neutral-500",
      )}
    >
      <p>Free during early access</p>
      <button
        id={`open-early-access-${randomId}`}
        type="button"
        class={cn(
          "touch-hitbox cursor-help text-neutral-600 underline decoration-neutral-600 decoration-dotted underline-offset-2",
          "transition-colors hover:text-neutral-500",
          "rounded-xs ring-neutral-500 ring-offset-4 ring-offset-neutral-900 outline-none focus-visible:text-neutral-500 focus-visible:ring-1",
        )}
      >
        Learn more
      </button>
    </div>
  </div>
</form>
<Modal id={`early-access-${randomId}`} title="About early access">
  I'm releasing this early to get feedback that helps guide development. I'm
  looking for people who'll actually tell me what's working and what isn't.
  <br />
  <br />
  If things break or feel off, let me know and I'll handle it quickly. This phase
  will last a few months, and I'll give clear notice before moving to a paid subscription
  model. Early users will get a special discount when that happens.
  <br />
  <br />
  Questions? Reach me at <a
    href="mailto:hello@heckmann.app"
    class:list={[
      "underline decoration-neutral-700 underline-offset-2 transition-colors hover:text-neutral-300 hover:decoration-neutral-600",
      "rounded-xs ring-neutral-500 ring-offset-4 ring-offset-neutral-900 outline-none focus-visible:text-neutral-400 focus-visible:ring-1",
    ]}>hello@heckmann.app</a
  >
</Modal>

<script>
  import { actions, isInputError } from "astro:actions";

  import { createToast } from "./toast";

  const handleWaitlistSubmit: EventListener = async (event) => {
    event.preventDefault();
    console.log(event);

    const form = event.target as HTMLFormElement;

    const [submitButton] = form.getElementsByTagName("button");
    submitButton.setAttribute("disabled", "true");
    submitButton.dataset.isLoading = "true";

    const formData = new FormData(form);
    const { error } = await actions.joinWaitlist(formData);

    submitButton.removeAttribute("disabled");
    submitButton.dataset.isLoading = "false";

    if (isInputError(error)) {
      if (error.fields.email) {
        const message = error.fields.email[0];
        createToast(
          `<div class="flex items-center space-x-2.5">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 shrink-0">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
                </svg>
                <p>${message}</p>
            </div>`,
          { timeout: 8000 },
        );
        return;
      }
    }

    if (error) {
      createToast(
        `<div class="flex items-center space-x-2.5">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 shrink-0">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
            </svg>
            <p>${error}</p>
        </div>`,
        { timeout: 8000 },
      );
      return;
    }

    createToast(
      `<div class="flex items-center space-x-3">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 shrink-0">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            <p>
                Thanks for joining the waitlist! I'll reach out when I am ready to onboard you.
            </p>
        </div>`,
      { timeout: 8000 },
    );

    // We don't want people to resubmit the form
    form.querySelectorAll("input, button").forEach((element) => {
      element.setAttribute("disabled", "true");
    });
  };

  // Using querySelectorAll is okay here:
  // https://docs.astro.build/en/guides/client-side-scripts/#common-script-patterns
  document.querySelectorAll(".waitlist-form").forEach((form) => {
    form.addEventListener("submit", handleWaitlistSubmit);
  });
</script>
