---
import { cn } from "@/lib/utils";
import Accordion from "@/components/accordion.astro";
---

<section
  id="faq"
  class={cn(
    "mx-auto max-w-6xl px-4",
    "flex items-start justify-between gap-32 pt-32",
    "max-sm:flex-col",
    "max-md:gap-10",
  )}
>
  <div class="">
    <p
      class="pb-1 font-mono text-sm tracking-[0.125rem] text-neutral-400 uppercase"
    >
      FAQ
    </p>
    <h2 class="ca-[1px] pb-4 text-4xl tracking-tight text-neutral-100">
      Common questions
    </h2>
    <p class="max-w-lg text-balance">
      If your question isn't answered here, please feel free to reach out to me
      directly.
    </p>
  </div>
  <div class="w-full max-w-lg">
    <Accordion
      items={[
        {
          title: "Does Orbit impact my Mac's performance or battery?",
          content:
            "No, Orbit is designed to run quietly in the background with minimal resource impact. It doesn't noticeably slow down your Mac or significantly drain battery power.",
          isOpen: true,
        },
        {
          title: "What happens if I run out of storage?",
          content:
            "Orbit stores recordings in an optimized format that balances usefulness and storage requirements. You'll be able to choose how much disk space Orbit uses and it intelligently manages storage by automatically discarding old data once your limit is reached.",
        },
        {
          title: "Do I need an internet connection all the time?",
          content:
            "No, Orbit only briefly connects to verify your license at startup. After that, everything it does stays offline, completely local to your device.",
        },
      ]}
    />
  </div>
</section>
