---
import { Image } from "astro:assets";

import { cn } from "@/lib/utils";
import CTAForm from "@/components/cta-form.astro";
import heroImage from "@/assets/hero.webp";
---

<section class={cn("mx-auto max-w-6xl px-6", "space-y-6 pt-24")}>
  <div class="space-y-4">
    <h1
      class={cn(
        "ca-0.5 text-4xl tracking-[-0.01em] text-neutral-200 sm:text-balance",
        "motion-opacity-in-20 motion-blur-in-lg motion-translate-y-in-100 motion-duration-500",
      )}
    >
      Saw it once, find it forever.
    </h1>
    <h2
      class={cn(
        "max-w-2xl sm:text-balance",
        "motion-opacity-in-20 motion-blur-in-lg motion-translate-y-in-100 motion-duration-500",
      )}
    >
      Orbit records your Mac's screen activity in the background, letting you
      instantly search and revisit anything you've seen. Everything stays local
      on your device.
    </h2>
  </div>
  <div
    class="motion-opacity-in-20 motion-blur-in-md motion-translate-y-in-100 motion-duration-500 motion-delay-100"
  >
    <CTAForm />
  </div>
  <div
    class={cn(
      "grid w-full place-items-center pt-20",
      "max-sm:pt-20",
      "motion-opacity-in-50 motion-blur-in-xl motion-translate-y-in-[15%] motion-duration-500 motion-delay-100",
    )}
  >
    <Image
      src={heroImage}
      alt="A screenshot of the 'Orbit' app interface displaying a timeline of recorded screen activity with various thumbnails."
      class="w-full rounded-xl shadow-xl"
      layout="full-width"
      priority
    />
  </div>
</section>
