---
import { cn } from "@/lib/utils";
import CTAForm from "@/components/cta-form.astro";
---

<section class={cn("mx-auto max-w-6xl px-6", "space-y-6 pt-24")}>
  <div class="space-y-4">
    <h1
      class={cn(
        "ca-0.5 text-4xl tracking-[-0.01em] text-neutral-200 sm:text-balance",
        "motion-opacity-in-20 motion-blur-in-lg motion-translate-y-in-100 motion-duration-500",
      )}
    >
      Saw it once, find it forever.
    </h1>
    <h2
      class={cn(
        "max-w-2xl sm:text-balance",
        "motion-opacity-in-20 motion-blur-in-lg motion-translate-y-in-100 motion-duration-500",
      )}
    >
      Orbit records your Mac's screen activity in the background, letting you
      instantly search and revisit anything you've seen. Everything stays local
      on your device.
    </h2>
  </div>
  <div
    class="motion-opacity-in-20 motion-blur-in-md motion-translate-y-in-100 motion-duration-500 motion-delay-100"
  >
    <CTAForm />
  </div>
  <div
    class={cn(
      "grid w-full place-items-center pt-20",
      "max-sm:pt-20",
      "motion-opacity-in-50 motion-blur-in-xl motion-translate-y-in-[15%] motion-duration-500 motion-delay-100",
    )}
  >
    <div style="position:relative;padding-top:56.25%;" class="w-full">
      <iframe
        title="Orbit Demo: Screen History Search"
        src="https://player.mediadelivery.net/embed/592567/c0b62e87-4f5e-4cf7-9471-bc2362b2abc1?autoplay=false&loop=false&muted=false&preload=true&responsive=true"
        loading="lazy"
        style="border:0;position:absolute;top:0;height:100%;width:100%;"
        allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
        allowfullscreen="true"></iframe>
    </div>
  </div>
</section>
